# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2018, 2021 Nathaniel Fitzenrider <https://github.com/nfitzen>

build/
dist/
buildsupport/7zex.7z
7zr.exe
7za.exe
src/ncustomcontent/README.md
src/ncustomcontent/sound/

.vscode/
